html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
// .wrapper {

// 	display: flex;
// 	flex-direction: column;

// 	min-height: 100%;
//   max-width: 1920px;

// }

// .main {
// 	flex: 1 1 auto;
// }
// .footer {
// 	flex: 0 0 auto;

// }
html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 22px;
  background-color: #fff;
  color: $default;
  @extend %quicksand-500;
  display: flex;
  flex-direction: column;

}
.main {
flex: 1 1 auto;
//flex-grow: 1;
}
ul {
   margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  background-color: transparent;

  font-size: 14px;
  line-height: 22px;

  color: $default;
  @extend %quicksand-500;
}
img {
  border-style: none;
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

}
.pagination{
  display: flex;
  justify-content: center;
  padding: 30px 0;
  .pagination__list{
    display: flex;
    padding: 0 35px;
  }
  &__item{
    padding: 0 15px;
  }
  &__link--active{
    color: $accent-color;
  }
  &__arrows{
    text-transform: uppercase;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 5px;
      height: 10px;
      top: 7px;



    }
  }
  &__prev{
    padding-left: 15px;
      &::before{
        background-image: url('../img/angle_left.svg');
        left: 0;
      }
  }
  &__next{
    padding-right: 15px;
    &::before{
      background-image: url('../img/angle_right10.svg');
      right: 0;
    }
  }
}
@media (max-width: 650px) {
  .title{
    font-size: 40px;
    line-height: 45;
  }

}
@media (max-width: 450px) {
  .title{
    font-size: 30px;
    line-height: 35;
  }

}


