
@media (max-width: 1200px) {
   .product-item{
      &__img-box{
        height: 280px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  .header{
    &__inner{
      padding-right: 10px;
    }
  }
  .top-slider {

  &__img {
    max-width: 1025px;
    width: 100%;
    padding-left: 5px;
  }
    &__title {
    max-width: 170px;
    width: 100%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: $default;
    margin-top: 10px;
    margin-bottom: 5px;
  }
    &__text {
    font-family: 'Montserrat';
    font-size: 12px;
    max-width: 170px;
    margin-bottom: 15px;

  }
  }
 .blog {


 &__items {
  display: grid;
      grid-template-columns: repeat(3, 1fr);

}
}
.product-slide__thumb{
  display: none;
}
.product-one__slide{
  width: auto;
  margin-right: 0;
}
}
@media (max-width: 1000px) {

    .video-fashion{
      &__inner{
        display: block;
      }
      &__popup{
        min-width: 100%;
        background-position: center top;
      }
      &__content{
        max-width: 100%;
      }
    }
   .categories {
  &__items {

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
  }

}
		.product-tabs-new-design__content-item {
      display: none;
      &.product-tabs-new-design__content-item--active{

        display: grid;
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: repeat(3, 250px);
        gap: 20px;
        background-color: #fff;
      }
      		}
.blog-page {
    &__items {
      display: grid;
          grid-template-columns: repeat(2, 1fr);

    }
    &__item {
    max-width: 100%;
    img{
      width: 100%;
    }

    }

  .person,
  .filter__category,
  .filter__popular{
    display: none;
  }
   &__inner{
    display: flex;
    flex-direction: column;
  }
  &__content{
    width: 100%;
    margin-right: 0;
  }
  &__aside{
    width: 100%;
    order: -1;
  }
  &__img{
    max-width: 100%;

  }
  .filter-search__input{
    width: 100%;

  }
}
 .contact__inner{
  display: block;

 }
 .contact__form{
  box-shadow: none;
  padding: 0;
 }
 .contact__form-box{
  display: block;
  input{
    width: 100%;
  }

 }
 .product-one__inner{
  display: block;
 }
 .product-one__content{
  width: 100%;
  margin-top: 30px;
 }
 .product-slide__big{
  width: 100%;
  img{
    width: auto;
    margin: 0 auto;
  }
 }
}
@media (max-width: 860px) {
.double{
  height: 1000px;
&__inner{
  flex-wrap: wrap;
}
&__right{
  margin-top: 200px;
}
}
.product-tabs__content-item.product-tabs__content-item--active {
  text-align: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}
     .product-item{
      &__img-box{
        height: 280px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
     .product{
      &__items{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      }
      &__img-box{
        height: 270px;
      }

    }
  .categories {

  &__items {
    // min-height: 385px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
  }
 }
  .menu{

    order: 1;
    margin-left: 40px;
    &__list{
    transform: translateY(-200%);
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    transition: all .4s;
    cursor: pointer;
    background-color: $bg;
    &.menu__list--active{

     transform: translateY(0);
     transition: all .4s;
    }
  }
    &__list-item + .menu__list-item {
    padding-left: 10px;

  }
    &__list-item{
      width: 100%;
      padding: 0 15px;
      text-align: center;
    }
    &__list-link{
      width: 100%;
      padding: 12px 0;
      display: block;
    }
    &__btn{
      width: 30px;
      height: 20px;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0;
      span{
        width: 100%;
        height: 2px;
        background-color: $title;

      }
      &::after,
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $title;
      }
      &::after{
        top: 0;
      }
      &::before{
        bottom: 0;
      }
    }

}
.user-nav{
  margin-left: auto;
}
.blog {
    &__items {
      display: grid;
          grid-template-columns: repeat(1, 1fr);

    }
    &__item {
    max-width: 100%;
    img{
      width: 100%;
    }

    }
    }
    .p404 {

		// .p404__inner

		&__inner {
    display: block;

		}
    &__content{
      width: 100%;
      margin-bottom: 100px;
    }
    &__img{
      width: 100%;

    }
  }
   .contact__info-title{
    width: 100%;
}

 .footer-top {

  &__contact{
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  }
    .related__items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
}
@media (max-width: 790px) {
		.product-tabs-new-design__content-item {
      display: none;
      &.product-tabs-new-design__content-item--active{

        display: grid;
        grid-template-columns: repeat(1, 360px);
        grid-template-rows: repeat(6, 250px);
        gap: 20px;
        background-color: #fff;
      }
      		}
 }
@media (max-width: 680px) {
      .top-slider {

  &__img {
    width: 100%;
    margin-top: 20px;
  }

  &__content{
    flex-wrap: wrap;
  }
}
   .product{
    padding: 30px 0;
      &__items{
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
      }

  }
  .product-item{
    max-width: 100%;
    &__img{
      width: 100%;
    }
  }
  .video-fashion {
    padding: 60px 0;
    &__popup{
      height: 270px;
    }
    &__subtitle{
      padding-top: 40px;
      font-size: 18px;
    }
  }
  .blog-page{
    padding: 60px 0;
    &__item-box{
      padding: 20px;
    }
    &__img{
      height: 200px;
    }
  }
  .comments-form__label{
    display: block;
  }

}
@media (max-width: 500px) {
    .categories {
      gap: 10px;
  &__items {
    // min-height: 320px;
    grid-template-columns: repeat(1, 1fr);
  }
  &__item {
   padding: 15px 10px;
  }

 }
  .menu{
    order: 0;
  }
 .user-nav{
  width: 100%;
 }
  .info {
  display: block;
  &__item{
  width: 100%;
  margin-bottom: 20px;
  }
  }


  .filter__item{
      padding: 10px 10px 10px;
      margin-bottom: 10px;
    }
  .blog-one{
    &__text{
      padding: 5px 5px;
      blockquote{
      padding: 5px;
      }
    }

  }
  .blog-one__info{
    display: block;
  }
  .comments-form__textbox{
    display: block;

  }
  .comments-form__text-input{
    width: 100%;
     margin-bottom: 20px;
  }
  .map{
    padding: 10px 10px;

  }
 #map{
    height: 250px;
  }
 .product-slide__big{
  padding: 20px 0;
  img{
    height: 400px;
  }
 }
 .product-one__item-btn{
  margin-left: 0;
 }
 .product-tabs__top-item{
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;

  display: block;
  text-align: center;
  margin-bottom: 20px;
  + .product-tabs__top-item{
    margin-left: 10px;
  }
 }
}
@media (max-width: 1050px) {
  .footer-top {
  flex-wrap: wrap;
  &__item-form{
    max-width: 100%;
    margin-top: 30px;
  }
  }

}

@media (max-width: 620px) {

  .footer-bottom {
    justify-content: center;
    &__copy{
    width: 100%;
    text-align: center;
  }
    &__accept-img{
      margin-left: 15px;
    }
  }

}
@media (max-width: 450px) {
//     .top-slider {

//   &__img {
//     width: 100%;
//     margin-top: 20px;
//   }
// }
   .footer-top{
    &__form{
      flex-wrap: wrap;
    }
    &__form-input{
      max-width: 100%;
    }
    &__form-btn{
      width: 100%;
    }
  }
  .footer-bottom {
    justify-content: center;
    &__copy{
    width: 100%;
    text-align: center;
  }
  }
      .related__items{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

}


