$accent-color: #a3bbc8;
$default: #302f34;
$title: #1c1c1d;
$bg: #f6f6f6;

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
}
%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
}
%rubik-600 {
  font-family: 'Rubik-SemiBold', sans-serif;
  font-style: normal;
  font-weight: 600;
}
%rubik-700 {
  font-family: 'Rubik-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
}
%rubik-800 {
  font-family: 'Rubik-ExtraBold', sans-serif;
  font-style: normal;
  font-weight: 800;
}

%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
}
%roboto-700 {
  font-family: 'Roboto-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
}
%checkbox-hidden {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

